header {
height: 100px;
}

body {
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
font-family: fantasy;
}

.btn {
  margin: 1%;
  border: solid #1f628d 3px;
}

.btn:hover {
  background: #1f628d;
  opacity: 0.7;
}

.rectangle {
 width:100px;
 height:100px;
 background:#1F628D;
 margin:10px auto;
 display: block;
 margin-top: 100px;
}

p{
    text-align: center;
    color: white;
    margin-bottom: 55px;
    margin-top: 75px;
    cursor: zoom-in;
}

h1{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}

h2{
    font-size: 13px;
    color: #1f628d;
    text-align: center;
}